.maincontainer {
    margin-top: 100px;
}

.avatar-img {
    max-width: 225px;
    max-height: 225px;
}

.small-avatar-img {
    max-width: 35px;
    max-height: 35px;
}

.bigger-icon {
    font-size: 1.25rem;
}

.pagination.center,
.pagination.center ul {
    float: left;
    position: relative;
}

.pagination.center {
    left: 50%;
}

.pagination.center ul {
    left: -50%;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover {
    background-color: #ffff00;
    background-image: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #808080;
    color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.break {
    min-width: 140px;
    max-width: 140px;
}

.handcursor {
    cursor: pointer;
}

#modalCenter .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

body {
    background-image: url("../background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #EDC383;
}

.menu_group_button {
    border-style: solid;
    border-width: 10px;
    border-image: url("../borders/curved_bottom.png") 33 repeat;
    color: #c98572;
    font-family: "Comfortaa", sans-serif;
    font-size: 25px;
    min-height: 100px;
}

.group_card {
    border-style: solid;
    border-width: 20px;
    border-image: url("../borders/group_card.png") 58 57 repeat;
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.25rem;
    max-width: 85%;
}

.group_card .content-background {
    background-color: #61c0bf;
}

a.menu-button {
    text-decoration: none;
    color: #c96b5a;
}

a.menu-button:hover {
    color: #a3000c;
}

a.panel {
    color: #ffffff;
    text-decoration: none;
}

a.panel:hover {
    color: #ffffff;
}

.border-bottom-1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    margin-bottom: 0;
}

a.white-link {
    color: white;
    text-decoration: none;
}

a.white-link:hover {
    color: #ffe83f;
}

.join-fill {
    background-color: rgba(188, 152, 103, 0.96);
    color: #ffffff;
    overflow: auto;
}

.join-white {
    background-color: rgb(255, 245, 198);
    color: #bc9867;
    overflow: auto;
}

.join-fill:hover {
    background-color: rgb(206, 186, 152);
}

.join-border-dashed {
    border-style: dashed;
    border-width: 2px 0px 2px 0px;
    border-color: rgb(188, 152, 103);
}

.leave-fill {
    background-color: #a34f3c;
    color: white;
    overflow: auto;
}

.leave-white {
    background-color: #fff4d6;
    color: #a34f3c;
    overflow: auto;
}

.leave-fill:hover {
    background-color: #c9897a;
}

.leave-border-dashed {
    border-style: dashed;
    border-width: 2px 0 2px 0;
    border-color: #ccab73;
}

.card-max {
    max-width: 85%;
}

.table{
    background-color: #ffffff;
}

.table td,th {
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
}

.card {
    min-width: 270px;
}
#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

